* {
	font-family: "Roboto", sans-serif;

}

body {
	/*background: #00d2ff;
	background: -webkit-linear-gradient(to right, #6DD5FA, #2980B9);
	background: linear-gradient(to right,#6DD5FA, #2980B9);
	*/
	
    background: #000 url(/123.gif) repeat; /* Путь к графическому файлу с фоном */
    color: #fff; /* Белый цвет текста */
    background-size: 100%;
    background-position: bottom;

    width:400px;
	height:50px;

	color: white;
	padding: 50px;
	font-weight: 100%
	font-size: 100%;
	background-attachment:fixed;
	background-position:0px 0px;
}

#location {
	display: block;
	border: none;
	background: rgba(255, 255, 255, .5);
	border-radius: 15px;
	padding: 10px;
	color: white;
	outline: none;
	width: 100% 
	font-size: 100px;
	justify-content: center;
    align-self: : center;


}

#location:placeholder {
	color: rgba(255, 255, 255, .5);

}

#show {
	display: block;
	border: none;
	margin-top: 15px;

	background: #16BFFD;
	background: -webkit-linear-gradient(to right, #493240, #FF0099);
	background: linear-gradient(to right, #493240, #FF0099);

	border-radius: 10px;
	padding: 20px;
	color: white;
	outline: none;
	width: 100%
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	justify-content: center;
    align-items: center;
}

#show:hover {
	opacity: .9;
}

#str {
	display: block;
	border: none;
	margin-top: 40px;

	background: #16BFFD;
	background: -webkit-linear-gradient(to right, #493240, #FF0099);
	background: linear-gradient(to right, #493240, #FF0099);

	border-radius: 10px;
	padding: 20px;
	color: white;
	outline: none;
	width: 35%
	font-size: 50px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	justify-content: center;
    align-items: center;
}

